body{
	margin:0px;
	padding:0px;
}

.Box{
	background:url('back2.jpg');
	background-size:cover;
	height:650px;
	width:100%;
	position:relative;
	overflow:hidden;
}

.Box img {
	width:100%;
}

.Box .cloude1{
	position:absolute;
	top:-10%;
	animation:cloud1 infinite 30s linear;
}

@keyframes cloud1{
	0%{
		transform:translateX(-100%);
	}
	100%{
		transform:translateX(100%);
	}
}

.Box .cloude2{
	position:absolute;
	top:-10%;
	animation:cloud2 infinite 30s linear;
}

@keyframes cloud2{
	0%{
		transform:translateX(-70%);
	}
	100%{
		transform:translateX(70%);
	}
}
























